################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/PushNews.Dominio
/packages
/.vs
/PushNews.Seguridad/bin/Debug
/PushNews.Seguridad/obj/Debug
/PushNews.Negocio/bin/Debug
/PushNews.Negocio/obj/Debug
/PushNews.WebService/bin
/PushNews.WebService/obj/Debug
/PushNews.WebApp/bin
/PushNews.WebApp/obj/Debug
/PushNews.AppceleratorPush/bin/Debug
/PushNews.AppceleratorPush/obj/Debug
/PushNews.PublicadorPush/bin/Debug
/PushNews.PublicadorPush/obj/Debug
/PushNews.WebApp/App_Data/logs
/PushNews.PushMsg/PushNews.AppceleratorPush/bin/Debug
/PushNews.PushMsg/PushNews.AppceleratorPush/obj/Debug
/PushNews.PushMsg/PushNews.PublicadorPush/bin/Debug
/PushNews.PushMsg/PushNews.PublicadorPush/obj/Debug
/PushNews.Negocio/bin/Release
/PushNews.Negocio/obj/Release
/PushNews.PushMsg/PushNews.AppceleratorPush/bin/Release
/PushNews.PushMsg/PushNews.AppceleratorPush/obj/Release
/PushNews.PushMsg/PushNews.PublicadorPush/obj/Release
/PushNews.Seguridad/bin/Release
/PushNews.Seguridad/obj/Release
/PushNews.WebApp/obj/Release
/PushNews.WebService/App_Data/logs
/PushNews.WebService/App_Data/logsAsociados
/PushNews.WebService/obj/Release
