################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/PushNews.Dominio
/packages
/.vs
/PushNews.Seguridad/bin/Debug
/PushNews.Seguridad/obj/Debug
/PushNews.Negocio/bin/Debug
/PushNews.Negocio/obj/Debug
/PushNews.WebService/bin
/PushNews.WebService/obj/Debug
/PushNews.WebApp/bin
/PushNews.WebApp/obj/Debug
