@using Txt = PushNews.WebApp.App_LocalResources
<div class="celda-centrada">
    <a class="btn btn-primary btGuardar btn-xs" data-toggle="tooltip" data-placement="top" title="@Txt.Comun.Aceptar">
        <i class="fa fa-check"></i>
        @*<span class="visible-md vivsible-lg">@Txt.Comun.Aceptar</span>*@
    </a>
    <a class="btn btn-default btCancelar btn-xs" data-toggle="tooltip" data-placement="top" title="@Txt.Comun.Cancelar">
        <i class="fa fa-ban"></i>
        @*<span class="visible-md vivsible-lg">@Txt.Comun.Cancelar</span>*@
    </a>
</div>
