<div id="plantillasNotificaciones">
    <script id="infoNotificationTemplate" type="text/x-kendo-template">
        <div class="col-xs-2 text-center">
            <i class="fa fa-2x fa-info" />
        </div>
        <div class="col-xs-10">
            <h3>#= title #</h3>
        </div>
        <div class="col-xs-12">
            <p>#= message #</p>
        </div>
    </script>

    <script id="warningNotificationTemplate" type="text/x-kendo-template">
        <div class="col-xs-2 text-center">
            <i class="fa fa-2x fa-warning" />
        </div>
        <div class="col-xs-10">
            <h3>#= title #</h3>
        </div>
        <div class="col-xs-12">
            <p>#= message #</p>
        </div>
    </script>

    <script id="successNotificationTemplate" type="text/x-kendo-template">
        <div class="col-xs-2 text-center">
            <i class="fa fa-2x fa-check" />
        </div>
        <div class="col-xs-10">
            <h3>#= title #</h3>
        </div>
        <div class="col-xs-12">
            <p>#= message #</p>
        </div>
    </script>

    <script id="errorNotificationTemplate" type="text/x-kendo-template">
        <div class="col-xs-2 text-center">
            <i class="fa fa-2x fa-exclamation" />
        </div>
        <div class="col-xs-10">
            <h3>#= title #</h3>
        </div>
        <div class="col-xs-12">
            <p>#= message #</p>
        </div>
    </script>
</div>