@using PushNews.WebApp.Areas.Publicar.Models.UI
@using Txt = PushNews.WebApp.App_LocalResources
@using PushNews.WebApp.Models.UI

@{
    var modeloCabecera = new CabeceraModel()
    {
        Icono = "clip-settings",
        BCSeccion = Txt.Secciones.Configuracion,
        BCModulo = Txt.Secciones.AplicacionesCaracteristicas,
        Titulo = Txt.Secciones.AplicacionesCaracteristicas,
        Subtitulo = Txt.AplicacionesCaracteristicas.Subtitulo,
        UrlSeccion = "#/categorias",
        Recargar = true
    };

    var modeloHerramientasInline = new HerramientasInlineModel(
        false, false);

    BotonGridModel[] opExportar = new BotonGridModel[0];

    var modeloToolbar = new GridToolbarModel(opExportar,
        new[] { "Nombre" }, Txt.AplicacionesCaracteristicas.Buscar, false);

    string textosJson = Json.Encode(
       new
       {
           confirmacionEliminarCuerpo = Txt.AplicacionesCaracteristicas.ConfirmacionEliminar,
           confirmacionNavegacion = Txt.Comun.ConfirmarNavegacion
       });
}

@{Html.RenderPartial("cabeceraModulo", modeloCabecera);}
@{Html.RenderPartial("DialogoConfirmacion", new DialogoConfirmacionModel
    { ModalID = "DialogoConfirmacion", Titulo = @Txt.Comun.ConfirmarEliminacion });}

<!-- start: PAGE CONTENT -->
<div class="row">
    <div class="col-xs-12">
        @*@{ Html.RenderPartial("FormAplicacionesCaracteristicas"); }*@
        <div class="contenedor-modulo" data-textos="@textosJson">
            @(Html.Kendo().Grid<PushNews.WebApp.Models.AplicacionCaracteristicaModel>()
                .Columns(columns =>
                {
                    columns.Bound(c => c.Nombre);
                    columns.Bound(c => c.Activo).Title(@Txt.Comun.Activo)
                        .Width(80)
                        .ClientTemplate(Html.Partial("ControlActivarDesactivar").ToString());
                })
                .ToolBar(tb => tb.Template(Html.Partial("GridToolbar", modeloToolbar).ToString()))
                .ConfigurarGrilla("AplicacionesCaracteristicasGrid", "AplicacionesCaracteristicas",
                    m => m.Id(ac => ac.AplicacionCaracteristicaID)/*, edicionInline: true*/)
            )
        </div>
    </div>
</div>