@using Txt = PushNews.WebApp.App_LocalResources
@{
    Layout = "./_Layout.cshtml";
    ViewBag.Title = Txt.Account.ConfirmacionClaveOlvidada;
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>
<div>
    <p>
        @Txt.Account.RestablecerClaveComprobarEmail
    </p>
</div>
	
