@using Txt = PushNews.WebApp.App_LocalResources

<div class="seccion-estadisticas">
    <div class="dato-estadistico col-xs-12 col-sm-5 col-sm-offset-1 col-md-3 col-md-offset-0 col-lg-12 no-padding">
        <dl class="text-center">
            <dt data-bind="text: Terminales"></dt>
            <dd>@Txt.Escritorio.Terminales</dd>
        </dl>
    </div>
    <div class="dato-estadistico col-xs-12 col-sm-5 col-md-3 col-lg-12 no-padding">
        <dl class="text-center">
            <dt data-bind="text: Comunicaciones"></dt>
            <dd>@Txt.Escritorio.Comunicaciones</dd>
        </dl>
    </div>
    <div class="dato-estadistico col-xs-12 col-sm-5 col-sm-offset-1 col-md-3 col-md-offset-0 col-lg-12 no-padding">
        <dl class="text-center">
            <dt data-bind="text: VisualizacionesUltimoMes"></dt>
            <dd>@Txt.Escritorio.VisualizacionesUltimoMes</dd>
        </dl>
    </div>
    <div class="dato-estadistico col-xs-12 col-sm-5 col-md-3 col-lg-12 no-padding">
        <dl class="text-center">
            <dt data-bind="text: Visualizaciones"></dt>
            <dd>@Txt.Escritorio.VisualizacionesTotales</dd>
        </dl>
    </div>
</div>
