@using PushNews.WebApp.Areas.Backend.Models.UI
@using PushNews.WebApp.Models.Asociados
@using Txt = PushNews.WebApp.App_LocalResources
@using PushNews.WebApp.Models.UI

@{
    var modeloToolbar = new GridToolbarModel(new BotonGridModel[0],
        new[] { "AsociadoNombre" }, Txt.Asociados.Buscar, false);
}

<div class="modal fade" id="DialogoEstadisticasAsociados" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;" data-backdrop="false" data-keyboard="false">
    <div class="modal-dialog contenedor-modulo">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">@Txt.Escritorio.Estadisticas</h4>
            </div>
            <div class="modal-body">
                @(Html.Kendo().Grid<EstadisticasAsociadoModel>()
                    .Columns(columns =>
                    {
                        columns.Bound(c => c.AsociadoNombre);
                        columns.Bound(c => c.TotalConsultas)
                            .Width(120)
                            .HtmlAttributes(new { @class = "celda-derecha" });
                        columns.Bound(c => c.UltimaConsultaFecha)
                            .Format("{0:G}")
                            .Width(180)
                            .HtmlAttributes(new { @class = "celda-centrada" });
                    })
                    .ToolBar(tb => tb.Template(Html.Partial("~/Areas/Backend/Views/Shared/GridToolbar.cshtml", modeloToolbar).ToString()))
                    .ConfigurarGrilla(
                        "EstadisticasAsociadosGrid",
                        dataSource => dataSource
                            .Ajax()
                            .PageSize(25)
                            .Sort(s => s.Add("UltimaConsultaFecha").Descending())
                            .Model(model =>
                            {
                                model.Id(ea => ea.AsociadoID);
                            })
                            .Read("LeerEstadisticas", "Asociados", new { comunicacionId = ViewBag.ComunicacionID }),
                        ex => ex
                            .AllPages(true)
                            .FileName(DateTime.Now.ToString("yyyyMMddhhmmss") +
                                "_PushNews_EstadisticasAsociados_C" + ViewBag.ComunicacionID + ".xlsx")
                            .Filterable(true)
                            .ProxyURL("Categorias/ExcelExportSave"))
                    .AutoBind(false)
                )
            </div>
            <div class="modal-footer">
                <button aria-hidden="true" data-dismiss="modal" class="btn btn-default no-button">
                    @Txt.Comun.Cerrar
                </button>
            </div>
        </div>
    </div>
</div>