@using Txt = PushNews.WebApp.App_LocalResources
@{
    Layout = "~/Areas/Publicar/Views/Account/_Layout.cshtml";
    ViewBag.Title = @Txt.Account.RestablecerClaveConfirmacion;
}

<div class="box-login center">
    <h2>@Txt.Account.RestablecerClaveMensaje</h2>
    @Html.ActionLink(@Txt.Account.IniciarSesionLargo, "Login", "Account", routeValues: new { area = "Publicar" }, htmlAttributes: new { id = "loginLink", @class="btn btn-primary btn-lg" })
</div>
